{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="{% static 'CSS/Inicio.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
 <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 </head>
 <body>
   <nav style="background-color: #455a64"
  <ul class="nav nav-fill">
    <li class="nav-item">
  <a class="nav-link" href="/Inicio"><i class="material-icons">home</i></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#"><i class="material-icons">search</i></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/Subir"><i class="material-icons">photo_camera</i></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#"><i class="material-icons">favorite </i></a>
</li>
<li class="nav-item dropdown">
   <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="material-icons">reorder</i></a>
   <div class="dropdown-menu">
     <a class="dropdown-item" href="/Perfil">Perfil</a>
     <div class="dropdown-divider"></div>
     <a class="dropdown-item" href="/Logout">Salir</a>
   </div>
 </li>
</ul>
</nav>
<center>
<div class="card" style="margin-left: 9%; margin-top: 1%; margin-right: 9%;">
  <div class="card-block">
    <h4 class="card-title"></h4>
  </div>
  <img class="card-img-bottom" src="..." alt="Card image cap">
<div class="card-block">
  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
</div>
</div>
</center>
</body>
</html>
